$colorF2: #F2F2F3;
$colorF9: #F9F9F9;
$color00: #000000;
$colorFF7: #FF7020;
$colorFFA: #FFAB08;
$colorFF5: #FF5C00;
$colorFFF: #FFFFFF;
// $color
// $color
// $color
// $color
// $color
// $color
// $color
// $color
// $color
// $color