$colorEA: #EAEAEA;
$color1C: #1C1C27;
$colorDF :#DF6464;
$color83 :#838383;
$color10 :#101010;
$color00: #000000;
$colorFFA :#FFA542;
$colorFFC :#FFCE7F;
$colorFFF :#FFFFFF;
// $color 
// $color 
// $color 