@use '../../App.scss';

.header {
    background-image: url("../../assets/img/headerBgImg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 27px 0px;
    height: 100vh;

    &__linkLogo {
        display: flex;
        justify-content: center;
    }
}